.App {
  text-align: center;

}

.logo {
  width: 150px;
}


.ispis th,
td {
  border: 1px solid black;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.td_id {
  min-width: 220px;
  border: 1px solid black;
}

.td_info {
  min-width: 150px;
  border: 1px solid black;
}

.td_name {
  border: 1px solid black;
  min-width: 250px;
}

.td_img {
  width: 80px;
  border: 1px solid black;
}

.td_img img {
  width: 40px;
}

.td_category {
  min-width: 120px;
  border: 1px solid black;
}

.td_price {
  width: 60px;
  border: 1px solid black;
}

.td_info_btn {
  min-width: 130px;
  border: 1px solid black;
}

.td_email {
  min-width: 230px;
  border: 1px solid black;
}

.td_btn {
  border: none;
  border-radius: 12px;
  background-color: rgb(232, 86, 66);
}

.products_table {
  margin: 0 auto;
}


.product_render img {
  width: 12rem;
}

.quantity {
  display: flex;
}

.quantity button {
  border: none;
}

.highlight {
  color: dodgerblue;
}

#user_name {
  color: rgb(47, 255, 85);
  font-size: 1.2rem;
}

.err_msg {
  color: red;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: start;
}

.cart-pos{
  position: relative;
}

.badge-cart {
  position: absolute;
  top: -2px;
  right: -4px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgba(143, 184, 47, 0.918);
  padding: 3px 7px;
  border-radius: 12px;
}

.single_product_container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.single_product_container img {
  width: 300px;
}

.product_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.product_p {
  font-style: italic;
  padding-left: 3px;
  color: rgb(80, 80, 80);
}

.product_price {
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: 5px;
}

.product_name {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.product_quantity {
  padding-left: 5px;
  margin-left: 3px;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.quantity_input_left {
  margin-right: 4px;
  font-size: 20px;
  cursor: pointer;
}

.quantity_input_right {
  margin-left: 4px;
  font-size: 20px;
  cursor: pointer;
}

/* .quantity_number {
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgb(8, 113, 219);
  padding: 1px 8px;
  padding-bottom: 3px;
  border-radius: 8px;
} */

.cart-item {
  display: flex;
}

.product-image img {
  width: 150px;
}

.product-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid green;
}

#category-span {
  font-style: italic;
}

.remove-from-cart {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.btn-quantity {
background-color: transparent;
padding-bottom: 16px;
}

#quantity-number {
font-size: 1.2rem;
padding-left: 5px;
padding-right:5px;
}

.brand-p {
  font-size: 16px;
  font-style: italic;
}

.category-p {
  font-size: 14px;
}

.price-p {
  display: inline-block;
  background-color: #fd490d2d;
  border-radius: 14px;
  padding: 2px 8px;
  
}

.edit-product-btn {
  text-decoration: none;
}

.product-image-edit{
  border: 1px solid rgba(0, 0, 0, 0.256);
  border-radius: 10%;
  margin-bottom: 10px;
}
.product-image-edit img {
  width: 150px;
 
}

/* footer */

.footer-p {
  font-size: 0.8rem;
}