.App {
  text-align: center;
}

.logo {
  width: 150px;
}

/* .logo_search_bar {
  display: flex;
  justify-content: space-around;
} */

.ispis th,td {
  border:1px solid black;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.td_id {
  min-width: 220px;
  border:1px solid black;
}

.td_info {
  min-width: 150px;
  border:1px solid black;
}
.td_info_btn {
  min-width: 130px;
  border:1px solid black;
}

.td_email {
  min-width: 230px;
  border:1px solid black;
}

.td_btn {
  border: none;
  border-radius: 12px;
  background-color: rgb(232, 86, 66);
}

 .product_render img {
 width: 12rem;
} 

